{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light p-3" id="navbar">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="{% url 'home-tracker' %}">Calorie Tracker</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home-tracker' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'list-days' %}">All Days</a>
                </li>
                </ul>
                <div class="d-flex">
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <a href="{% url 'admin:index' %}" class="btn btn-outline-success me-3">Admin Page</a>
                        {% endif %}
                            <a href="{% url 'logout' %}" class="btn btn-outline-danger me-3">Logout</a>
                    {% else %}
                        <button class="btn btn-outline-success">Login</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="home-content border-3 d-flex flex-column w-100">
        <div class="content flex-grow">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>